@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-5 py-4 rounded-md font-bold uppercase;
  }
  .category-card {
    @apply border-4 rounded-3xl p-10 hover:bg-[url('./img/asset20.png')] bg-bottom bg-no-repeat w-72;
  }
  .section-header {
    @apply text-3xl md:text-6xl font-bold capitalize my-5 text-black leading-relaxed;
  }
  .cursive-header {
    @apply text-3xl md:text-6xl font-extrabold text-rose-500 capitalize font-[cursive];
  }
  .card-header {
    @apply text-xl md:text-3xl font-bold text-black mb-3;
  }
  .body-text {
    @apply text-lg md:text-2xl text-black leading-relaxed;
  }
  .section-px {
    @apply mx-5 md:container md:mx-auto;
  }
}

@layer utilities {
  .discount-animation {
    animation: discount-animation 5s ease-in-out infinite;
  }
}

@keyframes discount-animation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
